body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#image {
    width: 600px;
    height: 350px;
    margin: 20px auto;
    line-height: 350px;
    border: 2px solid rgb(0, 56, 28);
    background-color: #eeeeee;
    background-size: cover;
    background-position: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.gallery img {
    width: 200px;
    margin: 10px;
    cursor: pointer;
}